/* Write your CSS code here */
.cryptocurrency-list-container {
  margin-left: 20px;
}
.heading {
  color: #00e7ff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.item-container {
  border: 5px solid #00e7ff;
  border-radius: 10px;
  margin: 30px;
}

.headers {
  background-color: #092e33;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.coin-types {
  display: flex;
  align-items: center;
}
.head {
  color: #ffffff;
  font-size: 20px;
}
.head1 {
  margin-right: 50px;
}
.head2 {
  margin-right: 20px;
}

.show {
  display: block;
}
.hide {
  display: hide;
}